# Table Routing

Table routing can be used for transport accessibility measurements, e.g., how many houses are at which distance from shops. In this example we measure walking distances and time from apartment buildings to schools.

To run a local OSRM server, follow [the readme](../OSRM.md) in the project.

OSRM backend has a [documentation section](https://github.com/Project-OSRM/osrm-backend/blob/master/docs/http.md#table-service) on table requests.


Let's run the scripts.

## Imports

In [1]:
from erde import table, read_df
import pandas as pd

Loading the data:

In [2]:
schools = read_df('./schools.csv')
houses = read_df('./houses.csv')

Running table requests. Function `table` is a generator, since table routes can return a very large number of combinations, so we need to consume it with `list` or `pd.concat`:

In [3]:
result = pd.concat(table(houses, schools, 'local', mts=100000))

Table routing: 100%|██████████| 4944/4944 [00:00<00:00, 6955.56it/s]

`mts` means max table size. Our server `docker-compose.yml` sets it to 100K, so we can make such large requests. Otherwise `table` will have to split it in multiple requests, which is slower even on a local machine.

Checking the result:

In [4]:
result

,source,destination,duration,source_snap,destination_snap,geometry
0,0,0,2518.2,6.739834,33.253128,"LINESTRING (83.09163 54.84042, 83.10197 54.86796)"
1,1,0,1278.6,7.930634,33.253128,"LINESTRING (83.08064 54.86273, 83.10197 54.86796)"
2,2,0,2238.6,16.431902,33.253128,"LINESTRING (83.10351 54.84457, 83.10197 54.86796)"
3,3,0,2437.0,18.011564,33.253128,"LINESTRING (83.10262 54.84352, 83.10197 54.86796)"
4,4,0,2340.6,29.291845,33.253128,"LINESTRING (83.10124 54.84373, 83.10197 54.86796)"
...,...,...,...,...,...,...
4939,407,11,4591.5,11.023011,30.185338,"LINESTRING (83.10158 54.88727, 83.04861 54.84931)"
4940,408,11,4480.1,11.431630,30.185338,"LINESTRING (83.10413 54.88563, 83.04861 54.84931)"
4941,409,11,4501.7,8.917125,30.185338,"LINESTRING (83.10040 54.88663, 83.04861 54.84931)"
4942,410,11,4559.6,22.342435,30.185338,"LINESTRING (83.10395 54.88678, 83.04861 54.84931)"
4943,411,11,4525.1,15.473819,30.185338,"LINESTRING (83.10296 54.88585, 83.04861 54.84931)"

`geometry` contains lines from source do destination.

# Same with Command-Line Tool

The same can be done with command-line API.

(Currently the dashed options have to go before any filenames. Not sure if this can be fixed.)

In [5]:
!erde table --mts 100000 houses.csv schools.csv local sample-output.csv

Table routing: 100%|██████████████████████| 4944/4944 [00:00<00:00, 7742.74it/s]
/home/culebron/.local/lib/python3.8/site-packages/geopandas/geodataframe.py:852: UserWarning: Geometry column does not contain geometry.
  warnings.warn("Geometry column does not contain geometry.")
Total execution time 0:00:00.8s

Checking the result file:

In [6]:
cli_sample = read_df('sample-output.csv')
cli_sample

,source,destination,duration,source_snap,destination_snap,geometry
0,0,0,2518.2,6.739834,33.253128,"LINESTRING (83.09163 54.84042, 83.10197 54.86796)"
1,1,0,1278.6,7.930634,33.253128,"LINESTRING (83.08064 54.86273, 83.10197 54.86796)"
2,2,0,2238.6,16.431902,33.253128,"LINESTRING (83.10351 54.84457, 83.10197 54.86796)"
3,3,0,2437.0,18.011564,33.253128,"LINESTRING (83.10262 54.84352, 83.10197 54.86796)"
4,4,0,2340.6,29.291845,33.253128,"LINESTRING (83.10124 54.84373, 83.10197 54.86796)"
...,...,...,...,...,...,...
4939,407,11,4591.5,11.023011,30.185338,"LINESTRING (83.10158 54.88727, 83.04861 54.84931)"
4940,408,11,4480.1,11.431630,30.185338,"LINESTRING (83.10413 54.88563, 83.04861 54.84931)"
4941,409,11,4501.7,8.917125,30.185338,"LINESTRING (83.10040 54.88663, 83.04861 54.84931)"
4942,410,11,4559.6,22.342435,30.185338,"LINESTRING (83.10395 54.88678, 83.04861 54.84931)"
4943,411,11,4525.1,15.473819,30.185338,"LINESTRING (83.10296 54.88585, 83.04861 54.84931)"